.login-container, div[_ngcontent-ng-c386392958] {
  display: flex;
  justify-content: center;
  width: 60%;
  justify-content: center; 
}

.login-form {
  width: 50%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form label,
.login-form .full-width {
  width: 100%;
  text-align: left;
}

.login-form button {
  margin-top: 16px;
  align-self: center;
}